
.navigation {
    list-style-type: none;
    padding: 0;
}
.navigation__icon {
    display: inline-block;
    margin-right: 13px;
    background-image: url("../../img/png/spritesheet.png");
    background-repeat: no-repeat;
    }
.navigation__title{
    display: inline-block;
    font-size: 12px;
    color: #ec1e79;
    }
.navigation__title_black{
    color:#221f1f;
}
.navigation__link{
    text-decoration: none;
    color: inherit;
    display: block;
}
.navigation__item {
    margin-bottom: 24px;
}
.navigation__main-icon{
    width: 17px;
    height: 15px;
    background-position:-5px -5px ;
}
.navigation__tarif-icon{
    width: 19px;
    height: 16px;
    background-position: -5px -139px;
}
.navigation__tarif-icon_current{
    width: 19px;
    height: 16px;
    background-position: -5px -113px;
}
.navigation__main-icon_current{
    width: 17px;
    height: 15px;
    background-position: -5px -30px;
}
.navigation__review-icon_current{
    width: 21px;
    height: 19px;
    background-position: -5px -55px;
}
.navigation__review-icon{
    width: 21px;
    height: 19px;
    background-position: -5px -84px;
}
.navigation__link:hover > .navigation__title{
    color:black;
}
.navigation__main-link:hover >.navigation__icon{
    background-position: -5px -30px;
}
.navigation__review_link:hover > .navigation__icon{
    background-position: -5px -55px;
}
.navigation__tarif-link:hover >.navigation__icon{
    background-position:  -5px -113px;
}